<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Bavith.Tsting.lstners" />
    </listeners>
  <test thread-count="1" name="Submit">
    <classes>
      <class name="Bavith.Tsting.submit_tests"/>
    </classes>
  </test>
   <test thread-count="1" name="Error">
    <classes>
      <class name="Bavith.Tsting.ErrorValidations"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
